.cover {
    max-width: 92.5%;
    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .cover { 
     max-width: 100%;
 }
 }

 @media screen and (max-width: 320px) {
    .cover { 
     margin: 66px auto 0;
 }
 }