.intro__title {
    margin: 0;
    padding: 0;
    font-size: 3.375rem;
    line-height: 3.625rem;
    font-weight: 900;
}

@media screen and (max-width: 550px) {
    .intro__title { 
     font-size: 2.5rem;
     line-height: 2.8rem;
 }
 }

@media screen and (max-width: 320px) {
    .intro__title { 
     font-size: 2rem;
     line-height: 2.19rem;
 }
 }